<h2>Thanks <%=  @approvider.first_name %> for your submission.</h2>


<p><b>Your name:</b> <%=@approvider.name_appears %></p>
<p><b>Title:</b> <%=@approvider.title %> </p>
<p><b>Philosophy: </b><%=@approvider.philosophy %> </p>


<%= link_to "Edit Your Profile", edit_approvider_path(@approvider.id), class: "btn btn-large btn-primary" %>