<h2><%=  @user.first_name %> <%= @user.last_name %></h2>

<p>Name as it should appear on website: <b><%=@user.name_appears %> </b></p>
<p>Title: <b><%=@user.title %> </b></p>
<p>Philosophy: <b><%=@user.philosophy %> </b> </p>